<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walasys.conductor">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCiuhNqd7NWA0cRy9UzqtJ7D5n72zNiSC4" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notificacion" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>



        <!-- SERVICIOS -->
        <service android:name=".Utiles.ServicioGPS" />


        <service
            android:name=".Utiles.Notificaciones.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".Modulos.Inicial.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/appThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modulos.Inicial.Login"
            android:screenOrientation="portrait"
            android:theme="@style/appThemeLogin" />
        <activity
            android:name=".Modulos.Servicios.Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/appThemeLogin" />
        <activity
            android:name=".Modulos.Servicios.Historial"
            android:label="Historial"
            android:screenOrientation="portrait"
            android:theme="@style/appThemeLogin" />
        <activity
            android:name=".Modulos.Servicios.Pagos"
            android:label="Pagos"
            android:screenOrientation="portrait"
            android:theme="@style/appThemeLogin" />
        <activity
            android:name=".Modulos.Configuracion.Configuracion"
            android:label="Configuración"
            android:screenOrientation="portrait"
            android:theme="@style/appThemeLogin" />
        <activity
            android:name=".Modulos.Configuracion.Perfil"
            android:label="Perfil"
            android:screenOrientation="portrait"
            android:theme="@style/appThemeLogin" />
        <activity
            android:name=".Modulos.Inicial.RecordarPass"
            android:screenOrientation="portrait"
            android:theme="@style/appThemeLogin" />


    </application>

</manifest>